@font-face {
    font-family: DMSans;
    src: url(../assets/fonts/DMSans-Regular.ttf);
}

/* Main colors */
:root {
    --colour-sosy-green-900: #07221c;
    --colour-sosy-green-800: #0e4438;
    --colour-sosy-green-700: #166553;
    --colour-sosy-green-600: #1d876f;
    --colour-sosy-green: #24a98b;
    --colour-sosy-green-400: #50baa2;
    --colour-sosy-green-300: #7ccbb9;
    --colour-sosy-green-200: #a7ddd1;
    --colour-sosy-green-100: #d3eee8;

    --colour-cyber-900: #332d00;
    --colour-cyber-800: #665900;
    --colour-cyber-700: #998600;
    --colour-cyber-600: #ccb200;
    --colour-cyber: #ffdf00;
    --colour-cyber-400: #ffe533;
    --colour-cyber-300: #fff18c;
    --colour-cyber-200: #fff299;
    --colour-cyber-100: #fff9cc;

    --color-almost-black: #0B151C;
    --colour-neutral-1200: #141515;
    --colour-neutral-1100: #191a1a;
    --colour-neutral-1000: #323434;
    --colour-neutral-900: #4b4e4d;
    --colour-neutral-800: #646867;
    --colour-neutral-700: #7d8281;
    --colour-neutral-600: #979b9a;
    --colour-neutral-500: #b0b5b4;
    --colour-neutral-400: #cacecd;
    --colour-neutral-300: #e5e6e6;
    --colour-neutral-200: #eff0f0;
    --colour-neutral-100: #f7f8f7;
    --color-white: #FFFFFF;

    --font: 'DMSans', 'Helvetica', sans-serif;
}

/* Main Styling */
* {
    font-family: var(--font);
    color: var(--color-white);
    overflow-y: auto;
    overflow-x: hidden;
}
body {
    background-color: var(--colour-neutral-1200);
}
h1, h2, h3 {
    font-weight: 900;
    overflow: hidden;
}
h1 {
    font-size: 2rem;
}
p {
    font-weight: 300;
    overflow: hidden;
}

/* All buttons */
.button {
    padding: 1rem 2rem;
    color: var(--main-white-color);
    background-color: var(--colour-sosy-green);
    border-radius: 100px;
    border-style: none;
    text-decoration: none;
    font-size: small;
}
.grey-button {
    background-color: var(--colour-neutral-1000);
    color: var(--main-white-color);
}
.button:hover {
    opacity: 0.9;
    transform: translateY(-0.1rem);
}
.button-green:hover {
    opacity: 0.9;
    background-color: var(--colour-sosy-green);
    transform: translateY(-0.1rem);
}

/* For scheduling courses page */
.lecture-schedule {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--colour-neutral-300);
}
.lecture-info {
    color: var(--colour-neutral-600);
}
input[type=checkbox]:checked {
    background-color: var(--colour-sosy-green) !important;
    border-color: var(--colour-sosy-green) !important; 
}