.nav {
    background: linear-gradient(180deg, #141515 0%, rgba(20, 21, 21, 0) 100%);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;
    padding-top: 1.7rem;
    padding-bottom: 0rem;
    padding-left: 55px;
    padding-right: 75px;
}

.nav-link, .navbar-brand {
    color: #FFFFFF;
}

.nav-link:hover, .navbar-brand:hover {
    color: #FFFFFF;
    opacity: 0.5;
    transform: translateY(-0.1rem);
}

/*
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
}

.logo {
    color: white;

}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 35px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}
*/