/* STYLES THAT TAKE CARE OF: LANDING, LOG IN, REGISTRATION */

/* Containers */
.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.wrapper {
    width: 423px;
    height: 72vh;
    overflow: hidden;
    margin: 5%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 10px;
    padding: 20px 40px;
}

/* Sosy Logo */
.sosy-logo {
    width: 10rem;
    height: auto;
}
.sosy-logo-auth {
    width: 3rem;
    height: auto;
}

/* Control Buttons */
.button-flow {
    padding: 1rem 4rem;
}
.button-login {
    padding: 0.7rem 4.5rem;
}
.button-flow:hover, .button-login:hover {
    background-color: #24a98b;
}

/* Input Boxes */
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}
.input-box input::placeholder {
    color: #fff;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}

/* Registration */
.register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover {
    text-decoration: underline;
}
.remember-forgot {
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot a {
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}