<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>

<body>
    <div>
        <span>This is a admin page</span>
    </div>

    <br><br>

    <h1>USERS</h1>
    <table style="border: 1px;">
        <tr>
            <th>Name</th>
            <th>Password</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.password}"></td>
        </tr>
    </table>

    <script th:src="@{/javascript/adminPage.js}" type="text/javascript"></script>
    <a href="#" class="btn" onclick="logout()">Log Out</a>

    <script>
    function logout() {
      // Handle the response from the server
      fetch('/logout')
        // test 
        .then(response => {
          if (response.redirected) {
            window.location.href = response.url;
          }
        })
        // error handling 
        .catch(error => {
          console.error('Error during logout:', error);
        });
    }
    </script>
    
    
  </div>
</div>

<script>
  function logout() {
    // Assume the server sends back JSON now
    fetch('/logout')
      .then(response => response.json()) 
      // test 
      .then(data => {
        if (data.status === "logged_out") {
          alert("Successfully Logged Out");
          window.location.href = '/index.html';
          
        }
      })
      // error handling 
      .catch(error => {
        console.error('Error during logout:', error);
      });
  }
  </script>
</body>

</html>