<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome - SoSy Course Planner</title>
  <link rel="stylesheet" href="stylesheets/planner.css">
  <link rel="stylesheet" href="stylesheets/navbar.css">
</head>

<body>
  <form th:each="offering:${offerings}" action="/users/selectedOffering" method="get">
    <input id="chosenOffering" name = "chosenOffering" type="hidden" th:value="${offering.stringRepresentation}">
    <input id="chosenOfferingName" name = "chosenOfferingName" type="submit" th:value="${offering.prof}+ ' ' + ${offering.campus} + ' ' + ${offering.term} + ' ' + ${offering.labelForChoice}">
<form> 
</body>
</html>