<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
</head>

<body>
  <h2>Courses Finished</h2>
  <form th:each="showCourse:${showCourses}" th:if=${showCourse.finish} action="/users/unfinishCourse" method="get">
    <input id="courseName" name="courseName" type="submit" th:value="${showCourse.name}">
  </form>
  <h2>Courses To Finish</h2>
  <form th:each="showCourse:${showCourses}" th:unless=${showCourse.finish} action="/users/finishCourse" method="get">
    <input id="courseName" name="courseName" type="submit" th:value="${showCourse.name}">
  </form>
  <a href="#" class="btn" onclick="logout()">Log Out</a>

  <script>
    // Handle the response from the server
    function logout() {
      fetch('/logout')
        // test 
        .then(response => {
          if (response.redirected) {
            window.location.href = response.url;
          }
        })
        // error handling 
        .catch(error => {
          console.error('Error during logout:', error);
        });
    }
  </script>


  </div>
  </div>
  <script>
    function logout() {
      fetch('/logout')
        // Assume the server sends back JSON now
        .then(response => response.json()) 
        // test
        .then(data => {
          if (data.status === "logged_out") {
            alert("Successfully Logged Out");
            window.location.href = '/index.html';

          }
        })
        // error handling 
        .catch(error => {
          console.error('Error during logout:', error);
        });
    }
  </script>
</body>>

</html>